.cloud1 {
  position: fixed;
  top: 5%;
  left: 6%;
  bottom: auto;
  right: auto;
  max-width: 20%;
}

.cloud2 {
  position: fixed;
  top: 5%;
  left: 35%;
  bottom: auto;
  right: auto;
  max-width: 10%;
}

.cloud3 {
  position: fixed;
  top: 12%;
  left: auto;
  bottom: auto;
  right: 34%;
  max-width: 15%;
}

.cloud4 {
  position: fixed;
  top: 3%;
  left: auto;
  bottom: auto;
  right: 6%;
  max-width: 20%;
}

.app-wrapper {
  max-width: 1100px;
  margin: 250px auto;
  z-index: 1;
  position: relative;
}

.card {
  border: solid;
  border-color: #555593;
  background-color: #231f50;
  font-family: "VT323", monospace, serif;
}

body {
  background: rgb(5,4,26);
  background: linear-gradient(180deg, rgba(5,4,26,1) 0%, rgba(8,6,46,1) 28%);
}

#search-form {
  text-align: center;
  padding-top: 10px;
}

.search-button {
  background: green;
  animation: glowing 1300ms infinite;
}
.search-button:hover {
  background: greenyellow;
  animation-play-state: paused;
}
@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
  50% {
    background-color: greenyellow;
    box-shadow: 0 0 20px greenyellow;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}

#city-search {
  margin: 10px auto;
  text-align: center;
  font-size: 20px;
  min-width: 89%;
}

h1 {
  padding-top: 25px;
  text-align: center;
  font-size: 30px;
  color: #ffe307;
}

#city-name {
  text-align: center;
  font-size: 55px;
  color: #ffe307;
  font-family: "Press Start 2P", "VT323", monospace, serif;
  text-transform: uppercase;
  text-shadow: 5px 5px #c30a4e;
}

#today-weather {
  padding: 25px 0px 25px 0px;
}

#today-date,
#today-description {
  text-align: right;
  color: #555593;
  font-size: 40px;
  text-transform: capitalize;
  line-height: 45px;
}

#today-humidity,
#today-speed {
  text-align: right;
  color: #555593;
  font-size: 30px;
  line-height: 45px;
}

#humidity-icon, 
#speed-icon {
  color: #fe2969;
  font-size: 30px;
}

#today-icon {
  font-size: 100px;
}

#today-temp {
  font-size: 160px;
  text-align: left;
  color: #555593;
  text-shadow: 3px 3px #c30a4e;
}

.units {
  color: #555593;
  font-size: 40px;
  position: relative;
  top: -65px;
}

.units .active {
  color: #555593;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}

a {
  color: #555593;
  text-decoration: none;
}

a:hover {
  color:#555593;
  opacity: 0.6;
}

.forecast {
  text-align: center;
  color: #555593;
  font-size: 40px;
}

.low-temp {
  opacity: 0.6;
}

p.footer {
  color: #ffe307;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}

#source {
  color: #555593;
}

#code-link {
  color: #fe2969;
}

.tree1 {
  position: fixed;
  top: auto;
  right: auto;
  left: 0%;
  bottom: 0%;
  max-width: 25%;
}

.tree2 {
  position: fixed;
  top: auto;
  right: auto;
  left: 25%;
  bottom: 0%;
  max-width: 25%;
}

.tree3 {
  position: fixed;
  top: auto;
  right: 25%;
  left: auto;
  bottom: 0%;
  max-width: 25%;
}

.tree4 {
  position: fixed;
  top: auto;
  right: 0%;
  left: auto;
  bottom: 0%;
  max-width: 25%;
}
