.cloud1 {
    position: fixed;
    top: 5%;
    left: 17%;
    right: auto;
    bottom: auto;
    max-width: 13%;
  }
  
  .cloud2 {
    position: fixed;
    top: 5%;
    right: 17%;
    left: auto;
    bottom: auto;
    max-width: 18%;
  }
  
  .cloud3 {
    position: fixed;
    top: 4%;
    right: 41%;
    left: auto;
    bottom: auto;
    max-width: 10%;
  }
  
  .cloud4 {
    position: fixed;
    top: 13%;
    right: auto;
    left: 37%;
    bottom: auto;
    max-width: 5%;
  }
  
  .locations {
    border: solid;
    border-radius: 1px;
    border-color: #555593;
    padding: 0px 0px 0px 20px;
    margin: 0px 40px;
    font-size: 15px;
  }
  
  p.savepoint {
    font-size: 25px;
    margin: auto 0;
  }
  
  #search-form {
    text-align: center;
  }
  
  .search-button {
    background: green;
  }
  .search-button:hover {
    background: greenyellow;
  }
  
  #city-search {
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    min-width: 89%;
  }
  
  .card {
    border: solid;
    border-color: #555593;
    background-color: #231f50;
    margin: 250px auto;
    z-index: 1;
    position: relative;
    font-family: "VT323", monospace, serif;
  }
  
  body {
    background-color: #08062e;
  }
  
  h1 {
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
    color: #ffe307;
  }
  
  #city-name {
    text-align: center;
    font-size: 40px;
    color: #ffe307;
    -webkit-text-stroke: 2px #555593;
    font-family: "Press Start 2P", "VT323", monospace, serif;
    text-transform: capitalize;
  }
  
  #today-emoji,
  #today-date,
  #today-temp,
  #today-low,
  #today-description {
    text-align: center;
    color: #555593;
    font-size: 40px;
  }
  
  .col.values {
    border: solid;
    margin: 10px 2px;
  }
  .col {
    text-align: center;
    color: #555593;
    font-size: 40px;
  }
  
  #today-emoji {
    font-size: 80px;
    float: left;
  }
  
  .fa-solid {
    font-size: 50px;
    padding-top: 20px;
    color: #fe2969;
    text-shadow: 3px 3px #c30a4e;
  }
  
  .temperature {
    font-size: 38px;
    padding: 15px 0px 0px 0px;
    line-height: 45px;
    text-shadow: 3px 3px #47477c;
    font-family: "Press Start 2P", "VT323", monospace, serif;
  }
  
  .low-temp {
    font-size: 28px;
    line-height: 35px;
  }
  
  p.footer {
    color: #ffe307;
    text-align: center;
    font-size: 25px;
  }

  #source {
    color: #555593;
  }

  #code-link {
    color: #fe2969;
  }
  
  .tree1 {
    position: fixed;
    top: auto;
    right: auto;
    left: 0%;
    bottom: 0%;
    max-width: 25%;
  }
  
  .tree2 {
    position: fixed;
    top: auto;
    right: auto;
    left: 25%;
    bottom: 0%;
    max-width: 25%;
  }
  
  .tree3 {
    position: fixed;
    top: auto;
    right: 25%;
    left: auto;
    bottom: 0%;
    max-width: 25%;
  }
  
  .tree4 {
    position: fixed;
    top: auto;
    right: 0%;
    left: auto;
    bottom: 0%;
    max-width: 25%;
  }
  